/* General styling of standard elements */
* {
    font-family: Poppins, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

a {
    color: midnightblue;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #bed9f7;
    border: none;
    border-radius: 7px;
    box-shadow: 0 5px 10px gray;
}

button:active {
    background-color: lightgrey;
    padding: 9px;
}

.headerText {
    font-weight: bold;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

/* Style for the header and its elements */
header {
    font-size: 30px;
    margin-bottom: 35px;
    padding: 2px;
    background-color: #3489eb;
    width: 100%;
    height: 50px;
    display: flex;
    border-radius: 3px;
}

#headerImage {
    padding: 2px;
    height: 105%;
    margin-left: 2px;
    float: left;
}

header h1 {
    line-height: 50px;
    padding-left: 6px;
}

/* Style for the icons */

.iconContainer {
    align-self: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: #3489eb;
    border-radius: 50%;
}

#searchIcon {
    width: 30px;
}

#locationIcon {
    width: 25px;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-35px);
    margin-bottom: -30px;
}

/* Style for an wrapper element on the website */
.wrapper-element {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 35px;
    padding: 5px;

    border: #3489eb solid 3px;
    border-radius: 5px;
    width: 97%;
    position: relative;
}

/* Style for the emergency contact sections */
.emergencyContacts {
    margin-top: 15px;
}

.emergencyContacts p {
    margin-top: 5px;
    font-weight: bold;
    font-size: 35px;
}

.emergencyContacts div {
    padding: 6px;
    margin-left: 10px;
}

.departmentLabel {
    font-weight: bold;
}

dt:after {
    content: ": ";
}

dt:before {
    content: "";
    display: block;
}

dt, dd {
    display: inline;
}

dd {
    margin: 0;
    padding: 3px 0 3px 0;
}

#selectedEmergencyContactsField {
    /* Initialize the emergency contact field for the selected country to hidden */
    display: none;
}

/* Styles for the country search dropdown */
.dropdownBox {
    display: inline-block;

    width: 100%;
    position: relative;
}

.dropdownBox input {
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.dropdownBox .selectedItem {
    position: relative;
}

.dropdownBox .selectedItem input {
    cursor: pointer;
    color: rgb(80, 80, 80);
    padding-inline-end: 40px;
}

.dropdownBox .selectedItem::after {
    content: "";
    width: 5px;
    height: 5px;
    border: 4px solid;
    border-color: transparent rgb(90, 90, 90) rgb(90, 90, 90) transparent;
    position: absolute;
    top: 70%;
    right: 15px;
    transform: translateY(-45%) rotate(45deg);
}

.dropdownBox.active .selectedItem::after {
    transform: translateY(-25%) rotate(135deg);
}

.dropdownBox .dropdownContent {
    box-shadow: 0 5px 15px black;
    border-radius: 5px;
    max-height: 260px;
    overflow-y: auto;
    display: none;
    position: absolute;
    z-index: 99;
    background-color: white;
    width: 100%;
}

.dropdownBox.active .dropdownContent {
    display: block;
}

.dropdownBox .dropdownContent .searchInput {
    padding: 5px;
    margin-bottom: 5px;
}

.dropdownBox .dropdownContent ul {
    list-style: none;
}

.dropdownBox .dropdownContent ul li {
    padding: 2px 5px;
    cursor: pointer;
    font-size: 25px;
}

.dropdownBox .dropdownContent ul li.hidden {
    display: none;
}

.dropdownBox .dropdownContent ul li:hover {
    background-color: lightgray;
}

.selected {
    background-color: #bed9f7;
    color: midnightblue;
}

#dropdownFieldLabel {
    font-weight: bold;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    float: left;
}

/* Responsive Design for tablets */
@media screen and (min-width: 768px) {

    header {
        height: 60px;
    }

    header h1 {
        font-size: 35px;
        line-height: 60px;
        padding-left: 10px;
    }

    .wrapper-element {
        margin-left: 4px;
        margin-right: 4px;
        flex: 1;
        width: 48%;
    }

    #currentLocation {
        float: left;
    }

    #selectedLocation {
        float: right;
    }

    #dropdownFieldLabel {
        padding-top: 3px;
    }

    /* Resize the icons */

    .centering {
        transform: translateY(-38px);
    }

    .iconContainer {
        width: 65px;
        height: 65px;
    }

    .locationIcon {
        width: 35px;
    }

    .searchIcon {
        width: 45px;
    }
}

/* Responsive Design for laptops/computers */
@media screen and (min-width: 1000px) {

    * {
        font-size: 35px;
    }

    header {
        height: 70px;
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 45px;
        line-height: 70px;
        padding-left: 15px;
    }

    .wrapper-element {
        flex: 1;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
        width: 48%;
        border: #3489eb solid 4px;
    }

    #currentLocation {
        float: left;
    }

    #selectedLocation {
        float: right;
    }

    #countrySearch {
        margin: 10px 0;
        height: 45px;
        width: 98%;
    }

    .emergencyContacts p {
        margin-top: 5px;
        font-weight: bold;
        font-size: 40px;
    }

    .dropdownBox .dropdownContent ul li {
        font-size: 30px;
    }

    .dropdownBox .dropdownContent {
        max-height: 500px;
    }

    /* Resize the icons */
    .iconContainer {
        height: 85px;
        width: 85px;
    }

    #searchIcon {
        width: 45px;
    }

    #locationIcon {
        width: 40px;
    }

    .centering {
        transform: translateY(-50px);
        margin-bottom: -40px;
    }

    /* Add hover effect only on devices where there is a high possibility that the user uses a mouse. */
    button:hover {
        background-color: lightgray;
        cursor: pointer;
    }
}